@using PandoLogic.Models
@model Goal

<div class="panel box box-info">
    <div class="box-header">
        <h4 class="box-title">
            @{
                int order = @Model.Ordinal + 1;
            }
            Goal @order - @Model.Title
        </h4>
    </div>
    <div class="panel-collapse">
        <div class="box-body">
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class="box-body no-padding">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <th>Task Title</th>
                            <th>Task Description</th>
                        </tr>

                        @foreach (WorkItem item in Model.WorkItems)
                        {
                            <tr class="">
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.Description
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
