@using PandoLogic.Models
@model PandoLogic.Models.Goal

@{
    ViewBag.Title = "Goal Details";
    ViewBag.TitleMinor = "";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", Url.Action("Index","Home"), "fa-dashboard"),
        new Crumb("Goals", Url.Action("Index","Goals"), "fa-check"),
        new Crumb("Goal Details")
    });
}

<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Goal Details</h3>
            </div>
            <div class="box-body">
                <p class="text-muted">@ViewBag.GoalProgress% Complete</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="@ViewBag.GoalProgress" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.GoalProgress%">
                    </div>
                </div>
            </div>

            <div class="box-body">
                <div class="pull-right">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
                </div>
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    @if (!string.IsNullOrEmpty(Model.Description))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    }

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DueDate)
                    </dd>

                    <dt>
                        Status
                    </dt>

                    <dd>
                        @if (ViewBag.GoalProgress == "100")
                        {
                            <span>Completed</span>
                        }
                        else
                        {
                            <span>Incomplete</span>
                        }
                    </dd>
                </dl>
            </div>
        </div>
        @Html.Partial("_TaskBox", (IEnumerable<WorkItem>)ViewBag.Tasks)
    </div>
    @Html.Partial("_Comments", new Activity())
</div>