@using PandoLogic.Controllers
@model ParentWorkItemViewModel

@{
    ViewBag.Title = "Edit Tasks for Goal";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", Url.Action("Index","Home"), "fa-dashboard"),
        new Crumb("Strategies", Url.Action("Index","Strategies"), "fa-puzzle-piece"),
        new Crumb("Create Strategy")
    });

    ViewBag.ChildModelTitle = "Task";
}

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Edit Tasks for Goal "@Html.DisplayFor(s => s.Title)"</h3>

            </div>
            <div class="box-body">
                <p class="text-muted">
                    The goal has been edited!
                    You now can edit all of the tasks you want under it, like a checklist to make sure the goal is achieved.
                    Most goals have three to five tasks under it.
                </p>
            </div>


            <div class="callout callout-info">
                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <h4>Description</h4>
                    <p>
                        @Html.DisplayFor(s => s.Description)
                    </p>
                }
            </div>

            @using (Html.BeginForm())
            {
                <div class="box-body">
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(s => s.Id)
                    @Html.HiddenFor(s => s.Title)
                    @Html.HiddenFor(s => s.Description)
                    @Html.HiddenFor(s => s.IsSummaryRequired)
                </div>

                <div id="goals" class="dynamic-child-list">
                    @Html.EditorFor(model => model.Children)
                </div>

                <div class="box-body">
                    <div class="form-group">
                        @Html.AddLink("Add Task", "#goals", ".goal", "Children", typeof(ChildWorkItemViewModel), "btn btn-default")
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">
                            Save Tasks &amp; Continue
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
