@using PandoLogic.Models
@model PandoLogic.Models.WorkItem

@{
    ViewBag.Title = Model.Title;
    ViewBag.TitleMinor = "Task Details";

    if (Model.GoalId == null)
    {
        ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
            new Crumb("Dashboard", Url.Action("Index","Home"), "fa-dashboard"),
            new Crumb("Tasks", Url.Action("Index","Tasks"), "fa-check"),
            new Crumb("Task Details")
        });
    }
    else
    {
        ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
            new Crumb("Dashboard", Url.Action("Index","Home"), "fa-dashboard"),
            new Crumb("Goals", Url.Action("Index","Goals"), "fa-check"),
            new Crumb("Goal Details", Url.Action("Details","Goals", new { id = Model.GoalId}), ""),
            new Crumb("Task Details")
        });
    }
}

<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">@Model.Title</h3>
                <div class="btn-group pull-right box-tools">

                    @if (ViewBag.IsMyTask)
                    {
                        <a class="btn btn-default btn-flat btn-sm" href="@Url.Action("Edit", new { id = Model.Id })">
                            <i class="fa fa-pencil"></i>
                            Edit
                        </a>
                        <a class="btn btn-default btn-flat btn-sm" href="@Url.Action("Delete", new { id = Model.Id })">
                            <i class="fa fa-trash-o"></i>
                            Delete
                        </a>
                    }
                </div>
            </div>
            @if (Model.Goal != null)
            {
                <div class="callout callout-info">
                    <p class="text-blue">Goal Details</p>
                    <h4>@Model.Goal.Title</h4>
                    @Model.Goal.Description
                </div>
            }
            <div class="box-body">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    @if (!string.IsNullOrEmpty(Model.Description))
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    }

                    <dt>
                        Creator
                    </dt>

                    <dd>
                        <a href="@Url.Action("Details", "Users", new { id = Model.CreatorId })">
                            @Html.DisplayFor(model => model.Creator.FullName)
                        </a>

                    </dd>

                    @if (Model.Assignee != null)
                    {
                        <dt>
                            Assignee
                        </dt>

                        <dd>
                            <a href="@Url.Action("Details", "Users", new { id = Model.AssigneeId })">
                                @Html.DisplayFor(model => model.Assignee.FullName)
                            </a>
                        </dd>
                    }

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedDateUtc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedDateUtc)
                    </dd>

                    @if (Model.EstimatedTime.HasValue)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.EstimatedTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EstimatedTime)
                        </dd>
                    }

                    <dt>
                        @Html.DisplayNameFor(model => model.DueDateUtc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DueDateUtc)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @Html.Partial("_Comments", new Activity())
    </div>
</div>
