@using PandoLogic.Models
@model PandoLogic.Models.Activity

@{
}

<div class="box box-primary">
    <div class="box-header">
        <i class="fa fa-comment"></i>
        <a href="@Url.Action("Index","Activities")">
            <h3 class="box-title force-a">Comments</h3>
        </a>
    </div>

    <div class="box-body">
        @using (Html.BeginForm(ViewBag.CommentAction as string, "Comments",
                                        new { id = ViewBag.CommentId },
                                        FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="Description" class="control-label">Comment</label>
                <div class="">
                    @Html.Hidden("Title", "FAKE")
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Comment" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "" })
                </div>
            </div>

            <div class="">
                <button type="submit" class="btn btn-primary">Create Comment</button>
            </div>
        }
    </div>
    @{
        IEnumerable<Activity> comment = ViewBag.Comments;
    }
    @if (comment != null && comment.Count() > 0)
    {
        <div class="box-footer">
            @Html.Partial("_Timeline", ViewBag.Comments as IEnumerable<Activity>)
        </div>
    }
</div>
