@using PandoLogic.Controllers
@using PandoLogic.Models

<!DOCTYPE html>
<html>
<head>
    @*Page Meta-Data*@
    <meta charset="UTF-8">
    <title>BizSprout | @ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    
    @*Google Fonts CSS*@
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic|Varela+Round' rel='stylesheet' type='text/css'>
    
    @*Admin LTE CSS*@
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/skins/skin-blue.min.css" rel="stylesheet" />
    <link href="~/Scripts/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    @*Custom CSS For this Page*@
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("css", required: false)


    @*Favicon for all devices*@
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/Content/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/Content/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/Content/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/Content/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/Content/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/Content/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/Content/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/Content/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/Content/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/Content/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/Content/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/Content/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/Content/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/Content/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/Content/favicon/mstile-310x310.png" />

</head>
<body class="skin-blue">
    <div class="wrapper">
        <header class="main-header">
            <a href="/" class="logo">
                BizSprout
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                @Html.Partial("_TopBarMenu")
            </nav>
        </header>

        @Html.Partial("_LeftMenu")
        <aside class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.TitleMinor</small>
                </h1>

                @if (ViewBag.Breadcrumb != null)
                {
                    <ol class="breadcrumb">
                        @foreach (Crumb crumb in ViewBag.Breadcrumb)
                        {
                            <li>
                                @if (crumb.HasLink)
                                {
                                    <a href="@crumb.Link">
                                        @if (crumb.HasIcon)
                                        {
                                            <i class="fa @crumb.Icon"></i>
                                        }

                                        <span>@crumb.Text</span>
                                    </a>
                                }
                                else
                                {
                                    if (crumb.HasIcon)
                                    {
                                        <i class="fa @crumb.Icon"></i>
                                    }

                                    <span>@crumb.Text</span>
                                }
                            </li>
                        }
                        @*<li>
                            <a href="#">
                            <i class="fa fa-dashboard"></i> Home
                            </a>
                            </li>
                            <li class="active">Dashboard</li>*@
                    </ol>
                }

            </section>

            <section class="content">
                @if (ViewBag.MemberInvites != null && ViewBag.MuteInvites == null)
                {
                    MemberInvite[] invites = ViewBag.MemberInvites;
                    foreach (MemberInvite invite in invites)
                    {
                        <div class="callout callout-info">
                            <h4>You're Invited to Join "@invite.Company.Name"</h4>
                            <p>Accept this invitation to start collaborating with your team on BizSprout</p>
                            @Html.ActionLink("View Invitation", "AcceptInvite", "Home", new { invite = invite.Invite.Value }, new { @class = "btn btn-info" })
                        </div>
                    }

                }

                @*Error messages*@
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="callout callout-danger">
                        <h4>Error Saving Changes, Please Try Again</h4>
                        @Html.ValidationSummary("", new { @class = "" })
                    </div>
                }

                @*TODO: Re-enable chat*@
                @*@Html.Partial("_CompanyChatBox")*@
                @RenderBody()
            </section>

        </aside>
    </div>

    @*ADMIN LTE JS*@
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <script src="~/Scripts/iCheck/icheck.min.js" type="text/javascript"></script>
    <script src="~/Scripts/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src='~/Scripts/fastclick/fastclick.min.js'></script>
    <script src="~/Scripts/app.min.js" type="text/javascript"></script>

    @*Pando Logic App JS*@
    @*signalR jQuery plugin*@
    <script src="~/Scripts/jquery.signalR-2.1.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script>
        // Put Underscore templating into mustache mode
        _.templateSettings = {
            interpolate: /\{\{(.+?)\}\}/g
        };
    </script>
    <script src="~/Scripts/pandologic.js"></script>
    @RenderSection("scripts", required: false)
    @*TODO: Re-enable chat
    @Html.Partial("_CompanyChat")*@
    @Html.Partial("_Analytics")
    @Html.Partial("_SupportChat")
</body>
</html>
