<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <a href="@Url.Action("Details", "Users", new { id = ViewBag.CurrentUserId })">
                <div class="pull-left image">
                    @if (!string.IsNullOrEmpty(ViewBag.CurrentUserAvatarUrl))
                    {
                        <img src="@ViewBag.CurrentUserAvatarUrl" class="img-circle" alt="User Image" />
                    }
                </div>
                <div class="pull-left info">
                    <p>Hello, @ViewBag.CurrentUserFirstName</p>
                </div>
            </a>
        </div>
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..." />
                    <span class="input-group-btn">
                        <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>*@
        <ul class="sidebar-menu">
            <li class="">
                <a href="@Url.Action("Index","Home")">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            @if (Html.IsInCompanyContext())
            {
                <li class="">
                    <a href="@Url.Action("Index","Tasks")">
                        <i class="fa fa-check"></i> <span>Tasks</span>
                    </a>
                </li>


                <li class="">
                    <a href="@Url.Action("Index","Goals")">
                        <i class="fa fa-tasks"></i> <span>Goals</span>
                    </a>
                </li>
            }
            <li class="">
                <a href="@Url.Action("Index","Activities")">
                    <i class="fa fa-list-ul"></i> <span>Activity Feed</span>
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("Index","Strategies")">
                    <i class="fa fa-puzzle-piece"></i> <span>Strategies</span>
                </a>
            </li>
        </ul>

    </section>
    <!-- /.sidebar -->
</aside>