<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <a href="@Url.Action("Details", "Users", new { id = ViewBag.CurrentUserId })">
            <div class="user-panel">

                <div class="pull-left image">
                    @if (!string.IsNullOrEmpty(ViewBag.CurrentUserAvatarUrl))
                    {
                        <img src="@ViewBag.CurrentUserAvatarUrl" class="img-circle" alt="User Image" />
                    }
                </div>
                <div class="pull-left info">
                    <p>Hello, @ViewBag.CurrentUserFirstName</p>
                </div>
            </div>
        </a>
        <ul class="sidebar-menu">
            <li class="header">MAIN MENU</li>
            <li class="">
                <a href="@Url.Action("Index","Home")">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            @if (Html.IsInCompanyContext())
            {
                <li class="">
                    <a href="@Url.Action("Index","Tasks")">
                        <i class="fa fa-check"></i> <span>Tasks</span>
                    </a>
                </li>


                <li class="">
                    <a href="@Url.Action("Index","Goals")">
                        <i class="fa fa-tasks"></i> <span>Goals</span>
                    </a>
                </li>
            }
            <li class="">
                <a href="@Url.Action("Index","Activities")">
                    <i class="fa fa-list-ul"></i> <span>Activity Feed</span>
                </a>
            </li>
            @*<li class="">
                <a href="@Url.Action("Index","Strategies")">
                    <i class="fa fa-puzzle-piece"></i> <span>Strategies</span>
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("Exchange","Strategies")">
                    <i class="fa fa-exchange"></i> <span>Strategy Exchange</span>
                </a>
            </li>*@
            @*@if (Html.IsInCompanyContext())
            {
                <li class="header">CHAT</li>
                <li class="">
                    <a class="company-chat-toggle" data-toggle="">
                        <i class="fa fa-comments-o"></i>
                        Team Chat
                    </a>
                </li>
            }*@
        </ul>

    </section>
    <!-- /.sidebar -->
</aside>