@using PandoLogic.Models
@model IEnumerable<Activity>


@{
    DateTime? currentDateTime = null;

    DateTime today = DateTime.UtcNow;
    DateTime yesterday = today.AddDays(-1);
}

@if (Model.Count() > 0)
{
    <div style="position: relative">
        <ul class="timeline">

            @foreach (Activity activity in Model)
            {
                if (!currentDateTime.HasValue || currentDateTime.Value.Date != activity.CreatedDate.Value.Date)
                {
                    currentDateTime = activity.CreatedDate;
                    <li class="time-label">
                        <span class="bg-aqua">
                            @if (currentDateTime.Value.Date == today.Date)
                            {
                                <span>Today</span>
                            }
                            else if (currentDateTime.Value.Date == yesterday.Date)
                            {
                                <span>Yesterday</span>
                            }
                            else
                            {
                                @currentDateTime.Value.ToString("D")
                            }
                        </span>
                    </li>
                }

                bool hasDescription = !string.IsNullOrEmpty(activity.Description);
                string headerClass = hasDescription ? "" : " no-border ";

                <li>
                    <i class="fa @activity.IconClass"></i>
                    <div class="timeline-item">
                        <span class="time">
                            @{
                bool? isFomActivityFeed = ViewBag.IsFromActivityFeed;
                string deleteActionName = isFomActivityFeed.HasValue && isFomActivityFeed.Value ? "DeleteActivity" : "Delete";
                string editActionName = isFomActivityFeed.HasValue && isFomActivityFeed.Value ? "EditActivity" : "Edit";
                            }

                            @if (activity.IsAbleToBeEdited)
                            {
                                <a href="@Url.Action(editActionName, "Activities", new { id = activity.Id })">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            }

                            @if (activity.IsAbleToBeDeleted)
                            {
                                <a href="@Url.Action(deleteActionName, "Activities", new { id = activity.Id })">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            }

                            @Html.ActionLink(activity.Author.FirstName, "Details", "Users", new { id = activity.Author.Id }, null)
                            <i class="fa fa-clock-o"></i>
                            @activity.CreatedDate.Value.ToString("t")
                        </span>

                        @if (ViewBag.ShowActivityTitle != null && ViewBag.ShowActivityTitle == true)
                        {
                            <h3 class="timeline-header @headerClass">
                                @Html.Raw(activity.Title)
                            </h3>
                        }


                        @if (hasDescription)
                        {
                            <div class="timeline-body">
                                @activity.Description
                            </div>
                        }

                    </div>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="text-muted">
        There are no activities at this time
    </div>
}