@model PandoLogic.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="box-header">
    <i class="fa fa-user"></i>
    <h2 class="box-title">Password Reset</h2>
</div>
<div class="box-body">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
    {
        <div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-Mail" })
            </div>
        </div>
        <div class="footer">
            <button type="submit" class="btn btn-primary btn-block">E-Mail Link</button>
            @Html.ActionLink("No Account? Register", "Register", null, new { @class = "text-center" })<br />
            @Html.ActionLink("Remember Your Password? Login", "Login", null, new { @class = "text-center" })
        </div>

    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
