@using PandoLogic.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="form-box" id="login-box">

    <div class="header">Sign In</div>

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        <div class="body bg-gray">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-Mail" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "" })
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => m.RememberMe)
                <span>Remember Me</span>
            </div>
        </div>
        <div class="footer">
            <button type="submit" class="btn btn-primary btn-block">Sign me in</button>

            @*<p><a href="#">I forgot my password</a></p>*@

            @Html.ActionLink("No Account? Register", "Register", null, new { @class = "text-center" })
        </div>
    }

    @*<div class="margin text-center">
            <span>Sign in using social networks</span>
            <br />
            <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
            <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
            <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>

        </div>*@
</div>