@using PandoLogic.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<div class="box-header">
    <i class="fa fa-user"></i>
    <h2 class="box-title">Sign In</h2>
</div>

<div class="box-body">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        <div class="">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-Mail" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "" })
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => m.RememberMe)
                <span>Remember Me</span>
            </div>
        </div>
        <div class="footer">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            @Html.ActionLink("No Account? Register", "Register", null, new { @class = "text-center" })
        </div>
    }
</div>