@using PandoLogic.Controllers
@using PandoLogic.Models
@using StripeEntities

@model SubscriptionViewModel

@{
    ViewBag.Title = "Subscription Plan";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="box-header">
    <i class="fa  fa-users"></i>
    <h2 class="box-title">@ViewBag.Title</h2>
</div>
<div class="box-body">
    <div class="">
        <p class="text-muted">Pick the plan that's right for @Model.Company.Name</p>
        @foreach (SubscriptionPlan plan in Model.Plans)
        {
            using (Html.BeginForm("Subscription", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("PlanId", plan.Id)
                @Html.Hidden("CompanyId", Model.Company.Id)
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">@plan.Title</h3>
                    </div>
                    <div class="box-body">
                        <p>
                            @plan.Description
                        </p>
                        <button class="btn btn-primary btn-block">
                            <strong>@plan.Title </strong>
                            $@plan.Price
                        </button>
                    </div>
                </div>
            }
        }
    </div>
</div>

@if (ViewBag.HasExistingSubscription != null)
{
    <div class="box-footer">
        <a href="@Url.Action("Details", "Companies", new { id = Model.Company.Id })" class="btn btn-primary btn-block">Nevermind, I Don't Want to Change My Subscription</a>
    </div>
}

