@model PandoLogic.Models.Plan

@{
    ViewBag.Title = "Edit Subscription";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Subscription Plan</h4>
        <p>
            Not all fields of a plan can be modified due to limitations imposed by Stripe
        </p>
        <p>
            The price must be edited from stripe, then updated directly in the database
        </p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "" })
        @Html.HiddenFor(model => model.Id)

        @Html.EditorForModel()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
