@model PandoLogic.Controllers.CompanyViewModel

@{
    ViewBag.Title = "Create Company";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="form-box" id="login-box">
    <div class="header">@ViewBag.Title</div>

    @using (Html.BeginForm("Create", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="body bg-gray">
            
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.EditorForModel()
        </div>

        <div class="footer">
            <button type="submit" class="btn btn-primary btn-block">Save &amp; Continue</button>

            @if (ViewBag.IsRegistration == null)
            {
                @Html.ActionLink("Cancel", "Index", "Home")
            }
            else
            {
                @Html.ActionLink("Skip to Dashboard", "Index", "Home")
            }
            
        </div>
    }
</div>

@section scripts {
    <script src="~/Scripts/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/Scripts/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Scripts/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="~/Scripts/plugins/datepicker/bootstrap-datepicker.js"></script>
}