@model PandoLogic.Controllers.CompanyViewModel

@{
    ViewBag.Title = "Create Company";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="box-header">
    <i class="fa  fa-building"></i>
    <h2 class="box-title">@ViewBag.Title</h2>
</div>
<div class="box-body">
    @using (Html.BeginForm("Create", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="">

            @Html.ValidationSummary("", new { @class = "" })

            @Html.EditorForModel()
        </div>

        <div class="footer">
            <button type="submit" class="btn btn-primary btn-block">Save &amp; Continue</button>

            @if (ViewBag.IsRegistration == null)
            {
                @Html.ActionLink("Cancel", "Index", "Home")
            }
            else
            {
                @Html.ActionLink("Skip to Dashboard", "Index", "Home")
            }

        </div>
    }
</div>

@section scripts {
    <script src="~/Scripts/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/Scripts/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Scripts/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="~/Scripts/plugins/datepicker/bootstrap-datepicker.js"></script>
}