@using PandoLogic.Models
@model PandoLogic.Controllers.CompanyViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.TitleMinor = "Company Details";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
            new Crumb("Dashboard", Url.Action("Index","Home"), "fa-dashboard"),
            new Crumb("Companies", Url.Action("Index","Companies"), "fa-building-o"),
            new Crumb("Company Details")
        });
}

<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">@Model.Name</h3>
                <div class="btn-group pull-right box-tools">
                    <a class="btn btn-default btn-flat btn-sm" href="@Url.Action("Edit", new { id = Model.Id })">
                        <i class="fa fa-pencil"></i>
                        Edit
                    </a>
                    <a class="btn btn-default btn-flat btn-sm" href="@Url.Action("Delete", new { id = Model.Id })">
                        <i class="fa fa-trash-o"></i>
                        Delete
                    </a>
                </div>
            </div>
            <div class="box-body">
                @Html.Partial("_Details", Model)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @Html.Action("Team", new { id = Model.Id })
    </div>
</div>